.container {
    height: 200px;
    width: 100%;
    margin: auto;
    background-color: green;
    align-items: center;
    display: flex;
}
.container h1 {
    margin: auto;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    margin-top: auto;

}