* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
}

.section {
    height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden; }


.video video {
    min-width: 100%;
	min-height: 100%;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video::after {
    content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}


h1 {
    font-weight: 300;
	font-size: 100px;
	line-height: 1.2;
	margin-bottom: 2px;
    text-shadow: 2px 2px black;
}
.szoveg {
    z-index: 2;
    
}

h3:hover {
	text-decoration: underline;
	color: rgb(204, 200, 200);
	cursor: pointer;
	font-size: 20px;
}

h3 {
	
}

.keret {
	border-top: 2px solid;
	
}

footer {
	z-index: 2;
}

