h1{
    margin:auto;
    text-align: center;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:link{
    color: lightgoldenrodyellow;
}
a:visited{
    color: lightslategray;
}
a:hover {
    cursor: pointer;
  }
img{

  width: 10%;
 margin: auto;

    
   
  }
  body{
      background-color: black;
  }
  hr{
      border: whitesmoke 2px solid;
      border-radius: 2px;
    }
  .container {
    height: 200px;
    width: 100%;
    margin: auto;
    background-color: green;
    align-items: center;
    
    display: flex;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://media1.giphy.com/media/IcZhFmufozDCij3p22/giphy.gif?cid=ecf05e47ce2qg04hl8pnooy7kqexpeusfx3wz0v6geeaikpn&rid=giphy.gif&ct=g");

}

.container2{
    height: 500px;
    width: 100%;
    margin: auto;
    background-color: rgb(47, 49, 47);
    position: relative;
}

.container2 video {
		position:relative;
}